{{ 'product-carousel.css' | asset_url | stylesheet_tag }}

<!-- Import for Swiper Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.7/swiper-bundle.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.7/swiper-bundle.min.js"></script>
<!-- End of Import for Swiper Slider -->

<section class="product-carousel">
  <div class="product-carousel__wrap">
    <h2 class="product-carousel__wrap-title">{{ section.settings.carousel_title }}</h2>
	
    <div class="product-carousel__slide">
      <ul class="product-carousel__list swiper-wrapper">
        {% for product in collections[section.settings.carousel_collection].products %}
          <li class="product-carousel__list-item swiper-slide">
            <div class="product-carousel__list-wrap">
              <a href="{{ product.url }}" class="product-carousel__list-anchor">{{ product.title | escape }}</a>
              {% if product_tags_string contains 'New' %}
              	<span class="product-carousel__tag-new">new</span>
              {% endif %}
   
              
              {% for tag in product.tags %}  
    			{% if tag contains 'New' %}
              		<span class="product-carousel__tag-new">new</span>
              	{% endif %}
              {% endfor %}
              
              <div class="product-carousel__list-img">
                <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
              </div>
              <h3 class="product-carousel__list-title">{{ product.title }}</h3>
              <p class="product-carousel__list-desc">{{ product.description }}</p>
              <div class="product-carousel__list-pricewrap">
                <span class="product-carousel__list-price">{{ product.price | money }}</span>
                {% if product.price < product.compare_at_price %}
                  <span class="product-carousel__list-price compare">{{ product.compare_at_price | money }}</span>
                {% endif %}
              </div>
              <a href="{{ product.url }}" class="product-carousel__list-btn">Add to Bag</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <!-- next / prev arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- !next / prev arrows -->
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Product Carousel",
    "settings": [
      {
        "type": "text",
        "id": "carousel_title",
        "label": "Carousel Title"
      },
      {
        "type": "collection",
        "id": "carousel_collection",
        "label": "Choose Collection to show on Carousel"
      }
    ],
    "presets": [
      {
        "name": "Product Carousel",
        "category": "Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  const swiper = new Swiper('.product-carousel__slide', {
    loop: true,
  	slidesPerView: 'auto',
  	spaceBetween: 10,
    loopedSlides: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      1200: {
        slidesPerView: 4,
        spaceBetween: 24,
      }
    }
  });
</script>