{{ 'product-carousel.css' | asset_url | stylesheet_tag }}

<!-- Import for Swiper Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.7/swiper-bundle.css" type="text/css">
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<!-- End of Import for Swiper Slider -->

<section class="product-carousel">
  <div class="product-carousel__wrap">
    <h2 class="product-carousel__wrap-title">{{ section.settings.carousel_title }}</h2>

    <div class="product-carousel__list">
      {% for product in collections[section.settings.carousel_collection].products %}
        <div class="product-carousel__list-item">
          <div class="product-carousel__list-wrap">
            <div class="product-carousel__list-img">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
            </div>
            <h3 class="product-carousel__list-title">{{ product.title }}</h3>
            <p class="product-carousel__list-desc">{{ product.description }}</p>
            <span class="product-carousel__list-price">{{ product.price }}</span>
            <a href="" class="product-carousel__list-btn">Add to Bag</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Carousel",
    "settings": [
      {
        "type": "text",
        "id": "carousel_title",
        "label": "Carousel Title"
      },
      {
        "type": "collection",
        "id": "carousel_collection",
        "label": "Choose Collection to show on Carousel"
      }
    ],
    "presets": [
      {
        "name": "Product Carousel",
        "category": "Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  const swiper = new Swiper('.product-carousel__list', {
    // Optional parameters
    direction: 'horizontal',
    slidesPerView: 3,
    loop: true
  });
  
  swiper();
</script>