{{ 'product-carousel.css' | asset_url | stylesheet_tag }}

<!-- Import for Swiper Slider -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<!-- End of Import for Swiper Slider -->

<section class="product-carousel">
  <div class="product-carousel__wrap">
    <h2 class="product-carousel__wrap-title">{{ section.settings.carousel_title }}</h2>

    <ul class="product-carousel__list">
      {% for product in collections[section.settings.carousel_collection].products %}
        <li class="product-carousel__list-item">
          <div class="product-carousel__list-wrap">
            <div class="product-carousel__list-img">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
            </div>
            <h3 class="product-carousel__list-title">{{ product.title }}</h3>
            <p class="product-carousel__list-desc">{{ product.description }}</p>
            <span class="product-carousel__list-price">{{ product.price }}</span>
            <a href="" class="product-carousel__list-btn">Add to Bag</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
  {
    "name": "Product Carousel",
    "settings": [
      {
        "type": "text",
        "id": "carousel_title",
        "label": "Carousel Title"
      },
      {
        "type": "collection",
        "id": "carousel_collection",
        "label": "Choose Collection to show on Carousel"
      }
    ],
    "presets": [
      {
        "name": "Product Carousel",
        "category": "Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
var mySwiper = new Swiper ('.product-carousel__list', {
    speed: 400,
    spaceBetween: 100,
    initialSlide: 0,
    //truewrapper adoptsheight of active slide
    autoHeight: false,
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    // delay between transitions in ms
    autoplay: 5000,
    autoplayStopOnLast: false, // loop false also
    // If we need pagination
    pagination: '.swiper-pagination',
    paginationType: "bullets",
    
    // Navigation arrows
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    
    // And if we need scrollbar
    //scrollbar: '.swiper-scrollbar',
    // "slide", "fade", "cube", "coverflow" or "flip"
    effect: 'slide',
    // Distance between slides in px.
    spaceBetween: 60,
    //
    slidesPerView: 2,
    //
    centeredSlides: true,
    //
    slidesOffsetBefore: 0,
    //
    grabCursor: true,
  })        
</script>